<app-header></app-header>
<div class="container">
  <p style="margin-top: 20px">
    Bright Boost is an after-school program that provides tutoring for high
    school students. Students from local high schools can enrol in the program
    for a small fee, which is paid yearly or per term, and can then attend
    Bright Boost sessions any number of weekdays after school. Sessions run from
    3:30pm to 5:30pm and are staffed by one or more tutors depending on the day.
    Each tutor has expertise in one or more subject areas. Sessions are run on a
    drop-in, first- come-first-served basis, where students can ask questions or
    simply use the space to work in. Currently, tutors write their name and
    areas of expertise on a white board at the front of the room, and students
    raise their hand if they have a questions.
  </p>
  <h3 style="text-align: center">
    Want help?
    <a href="register">
      <button type="button" class="btn btn-outline-secondary">
        Register here
      </button>
    </a>
  </h3>
</div>

<app-footer></app-footer>
