<app-header></app-header>
<br>
<div class="container table-responsive">
    <table class="table table-bordered" style="box-shadow: 0 0 5px #666">
        <thead class="table-success">
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Session attended</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">rome</th>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>