<app-header></app-header>
<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4">
      <form style="box-shadow: 0 0 5px #666; padding: 15px; border-radius: 6px">
        <div
          class="title"
          style="
            text-align: center;
            background-color: bisque;
            padding: 4px;
            font-size: 20px;
            margin-bottom: 10px;
            border-radius: 6px;
          "
        >
          Update information
        </div>
        <div class="form-group">
          <label for="Name" style="margin-top: 5px">student Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Full name"
            id="Name"
          />
        </div>
        <div class="form-group">
          <label for="session" style="margin-top: 5px">session attended</label>
          <input
            type="number"
            class="form-control"
            placeholder="total no of sessions"
            id="session"
          />
        </div>
        <div class="form-group">
          <label for="qsn" style="margin-top: 5px"
            >Total uestions Answered</label
          >
          <input
            type="number"
            class="form-control"
            placeholder="total no of qsns"
            id="qsn"
          />
        </div>

        <div style="text-align: center">
          <button
            type="submit"
            class="btn btn-secondary"
            style="margin-top: 12px"
          >
            Update
          </button>
        </div>
      </form>
    </div>

    <div class="col-lg-4 col-md-4"></div>
  </div>
</div>

<app-footer></app-footer>
